body{
    font-size: 1.25rem;
    padding: 0.2rem 0rem;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
#GlobalSettingContainer,
#CommunityCard{
    border: 1px solid black;
    width: 60%;
    margin: 1rem 0px;
    padding: 0.5rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#GlobalSettingContainer>h3{
    font-family: 'Segoe UI',  'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(192, 14, 14);
    margin: 0;
}
#GlobalSettingContainer>div.content{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}
#GlobalSettingContainer>div.content>div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#GlobalSettingContainer>div.content>div>p{
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently */
    margin: 0;
}
#GlobalSettingContainer>div.content>div>select{
    width: 8rem;
    padding: 0px 0.25rem;
    border-radius: 0.25rem;
}
#GlobalSettingContainer>div.content>div>select:hover{
    cursor: pointer;
}
#GlobalSettingContainer>div.content>div>select:focus{
    outline: none;
}
#Calculate>button,
#ConfirmSetting>button{
    width: 10rem;
    background: rgb(53, 46, 46);
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    font-weight: bolder;
}
#Calculate>button:hover,
#ConfirmSetting>button:hover{
    cursor: pointer;
    background-color: rgb(175, 14, 14); 
}
#Calculate>button:focus,
#ConfirmSetting>button:focus{
    outline: none;
}
#Calculate>button[disabled]{
    background-color: rgb(117, 104, 104);
}
#Calculate>button[disabled]:hover{
    cursor: not-allowed;
}
div.communityContainer{
    margin-top: 1rem;
    width: 70%;
    padding: 0.5rem;
    border: 1px solid rgb(46, 35, 35);
}
div.communityContainer>h3,
div.pocketsForPlayer>h3{
    margin-top: 0;
    text-align: center;
    color: rgb(167, 35, 35);
}
div.communityContainer>div.content{
    min-height: 6rem;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}
div.communityContainer>div.content>img,
#PlayersContainer>div.pocketsForPlayer>div.content>img{
    height: 5rem;
}
div.communityContainer>div.content>img:hover,
#PlayersContainer>div.pocketsForPlayer>div.content>img:hover{
    cursor: pointer;
}
#PlayersContainer{
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
#PlayersContainer>div.pocketsForPlayer{
    border: 1px solid rgb(46, 35, 35);
    width: 25%;
    margin: 0.5rem 0rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}
#PlayersContainer>div.pocketsForPlayer>div.content{
    width: 100%;
    min-height: 6rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Selections{
    width: 80%;
    min-width: 1280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 1rem;
    border: 1px solid rgb(36, 33, 33);
    background-color: rgb(36, 33, 33);
    border-radius: 0.5rem;
}
#Selections>h2.header{
    text-align: center;
    color: white;
    margin-bottom: 0;
}
#Selections>div.content{
    z-index: 3;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
    align-items: center;
}
#Selections>div.content>img{
    width: 3rem;
    margin: 0.5rem;
    transition: transform 0.3s;
}
#Selections>div.content>img:hover{
    cursor: pointer;
    transform: scale(1.25);
}
#Selections>div.content>img.Selected{
    border: 2.5px solid rgb(0, 255, 0);
}
#Selections>div.content>img.Used{
    opacity: 0.3;
}
#Selections>div.content>img.Used:hover{
    cursor: not-allowed;
}
#Selections>div.footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    z-index: 3;
}
#Selections>div.footer>button.confirm,
#Selections>div.footer>button.reset,
#Selections>div.footer>button.close{
    padding: 0.5rem 1rem;
    color: white;
    border-radius: 0.5rem;
    font-size: 120%;
    margin: 1rem;
}
#Selections>div.footer>button.confirm:hover,
#Selections>div.footer>button.reset:hover,
#Selections>div.footer>button.close:hover{
    cursor: pointer;
}
#Selections>div.footer>button.confirm:focus,
#Selections>div.footer>button.reset:focus,
#Selections>div.footer>button.close:focus{
    outline: none;
}
#Selections>div.footer>button.confirm{
    background-color: rgb(19, 138, 19);
    border: 1px solid rgb(19, 138, 19);
}
#Selections>div.footer>button.reset{
    background-color: rgb(2, 137, 155);
    border: 1px solid rgb(2, 137, 155);
}
#Selections>div.footer>button.close{
    background-color: rgb(184, 26, 12);
    border: 1px solid rgb(184, 26, 12);
}
#Selections>div.WholeBackGround{
    z-index: 2;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
}
#BestHandContainer{
    width: 75%;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 1rem;
}
#BestHandContainer>div.besthand{
    border: 1px solid black;
    width: 40%;
    padding: 0.5rem 1rem;
    margin: 1rem;
}
#BestHandContainer>div.besthand>h3{
    margin: 0.25rem;
    text-align: center;
    color: rgb(192, 14, 14);
}
#BestHandContainer>div.besthand>div.content{
    min-height: 6rem;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}
#BestHandContainer>div.besthand>div.content>img{
    height: 5rem;
}
#BestHandContainer>div.besthand>h3.rankResult{
    color: rgb(226, 143, 35);
    text-align: center;
    margin: 0.25rem;
}
#finalResult{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#finalResult>h3{
    border: 1px solid black;
    font-size: 125%;
    color: rgb(173, 35, 35);
    text-align: center;
    padding: 0.5rem 1rem;
    margin: 1rem;
    white-space: pre-wrap;
}



